/*Para todas las páginas*/
footer {
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
    display: block;
    margin-top:10px;
    bottom: 0;
    position: fixed;
    left:0;
    width:100%;
}

.izq, .der, .medio{
    width: 30%;
    display: inline;
    
}
.izq{
    float:left;
    background-image: linear-gradient(to right, #74ebd5,#acb6e5);
    background-color: #ffffe6;
    color:#000000;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 5px;
}
.der{
    float:right;
}
  
.titulopage{
    text-align: center;
    color:#ffffcc;
    background-color: #000000;
    padding:5px 10px;
    text-shadow: 2px 2px 8px #6b6161;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    width: fit-content;
    height: fit-content;
}

.info{
    background-color:#ffffcc;
    padding: 10%;
    border-radius: 10%;
    display:block;
    
}
.main{
    margin: 100px 10% 100px 10% ;
}
.boton {
    background-image: linear-gradient(to right, #184E68, #57CA85 );
    background-color: #004d00;
    color: #ffffe6;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    margin: 5px;
    letter-spacing: 0.3em;
    border-color:#000000;
}
.boton:hover{
    text-decoration: none;
    background-color: #000000;
    background-image: none;
    border-color: #000000;
}
a{
    text-decoration: none;
}
#volver{
    width:33%;
    background-image: linear-gradient(to right, #184E68, #57CA85 );
    background-color: #004d00;
    text-decoration: none;
    color: #ffffe6;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px 10px ;
    letter-spacing: 0.1em;
    max-width: 117px;
}
#volver:hover{
    text-decoration: none;
    background-image: none;
    background-color: #004d00; 
}

/*Index*/
.name {
top: 30%;
width: 100%;
text-align: center;
font-size: 100px;
color:black;
width: 500px;
height: 200px;
}

.fondo { 
    width: 100%;
    height: auto;
    opacity: 0.5;
}

/*about-mi*/
.mi_foto{
    width: 30%;
    height:20%;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

/*games*/  
.img{
    height:235px
}

label{
    margin: 10px;
}
/*contacto*/


tr:nth-child(odd) {
    background-color: #dddddd;
}


@media only screen  and (min-width:600px){

    .fondo { 
        width: 100%;
        height:50%;
        opacity: 0.5;
        transform: rotate(90deg);
    }
}  
  